# Database Configuration
DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/database?appName=Cluster0"

# Daemon Configuration
NEXT_PUBLIC_DAEMON_URL="http://localhost:8152"

# AI Configuration
GOOGLE_GENERATIVE_AI_API_KEY="your-api-key-here"
